html{
    scroll-behavior: smooth;
}

body{
    background-color:#ffffff;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;

}

.img_logo{
    width: 15%;

}

.menu, footer{
    background-color: rgb(0, 140, 255);
    /* rgba(199, 21, 133, 0.2);  */  
    /* rgba(143, 188, 143, 0.2); */
    /* rgba(128, 128, 128, 0.4); */
    padding: 1.5%;
}

.itens_menu{
line-height: 1.5;
text-align: center;
}

.itens_menu a{
    font-size: 1.2em;
}

.itens_menu a:link{
    color: #ffffff;
    text-decoration: none;
}

.itens_menu a:visited{
    color: #FFF;
    text-decoration: none;
}

.itens_menu a:hover{
    color: #fff;
    padding: 0.8%;
    background-color: rgba(255, 251, 0, 0.1);
    text-decoration: none;
    border-radius: 15%;
}

.itens_menu a:active{
    color: #FFF;
    text-decoration: none;
}

section a:link{
    color:#00BFFF
}

section a:visited{
    color:#00ff2a;
}

section a:hover{
    color:rgb(255, 0, 0)
}


.fundo_diferente{
    background-color: white;
}

.img_topo{
    width: 45%;

}

.img_corpo{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}


h1{
    text-align: center;
    color: #005fb8;
    font-size: 2em;
    line-height: 2.5;
}

h2{
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 2%;
}

p{
    font-size: 1.4em;
    color:#000000;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
}

.parag_titulos > p{
    font-size: 1em;
    line-height: 1.5;
}

.pinta_botao{
    width: 150px;
    height: 40px;
    background-color: rgb(0, 140, 255);
    margin: auto;
    padding: 0.2%;
    text-align: center;
    padding-top: 3%;
}

.pinta_botao:hover{
    background-color: #005fb8;
}

.pinta_botao a:link, .pinta_botao:visited{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

footer > p{
    font-size: 1.2em;
    text-align: center;
    color: #FFF;
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.escondido{
    display: none;
}

.direita{
    float: right;
    width: 20%;
    margin-left: 2%;
}

.esquerda{
    float: left;
    width: 30%;
    margin-right: 2%;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
  }
  
  td{
    font
  }
  
  td,th{
    border: 5px inset #8B0000;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }