@font-face {
    font-family: arial ;
    
    src: url('../fonts/arial.ttf')
  }

html{
    scroll-behavior: smooth;
}

body{
    background-color:#000000;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;

}

.img_logo{
    width: 15%;

}

.menu{
    background-color: goldenrod;
    /* rgba(199, 21, 133, 0.2);  */  
    /* rgba(143, 188, 143, 0.2); */
    /* rgba(128, 128, 128, 0.4); */
    padding: 0.7%;
    font-family: 'Merienda One', cursive;
}

footer{
    background-color: goldenrod;
    padding: 1.5%;
    font-family: 'Merienda One', cursive;
}

.titulo_topo{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2em;
    line-height: 2.5;
    font-family: 'Merienda One', cursive;
}

.itens_menu{
line-height: 1.5;
text-align: center;
}

.itens_menu a{
    font-size: 1.2em;
}

.itens_menu a:link{
    color: #ffffff;
    text-decoration: none;
}

.itens_menu a:visited{
    color: #FFF;
    text-decoration: none;
}

.itens_menu a:hover{
    color: #fff;
    padding: 0.8%;
    background-color: rgba(0, 0, 0,);
    text-decoration: none;
    border-radius: 15%;
}

.itens_menu a:active{
    color: #FFF;
    text-decoration: none;
}

section a:link{
    color:#ff00bb
}

section a:visited{
    color:#ffffff;
}

section a:hover{
    color:rgb(0, 0, 0);
}


.fundo_diferente{
    background-color: white;
}

.img_topo{
    width: 100%;

}

.img_corpo{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}


h1{
    text-align: center;
    color: goldenrod;
    font-size: 2em;
    line-height: 2.5;
    font-family: 'Merienda One', cursive;
}

h2{
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 2%;
    font-family: 'Merienda One', cursive;
}

p{
    font-size: 1.4em;
    color:#ffffff;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    font-family: 'Comfortaa', cursive;
}

/*.parag_titulos > p{
    font-size: 1em;
    line-height: 1.5;
}*/

.pinta_botao{
    width: 150px;
    height: 40px;
    background-color: rgb(218, 165, 32);
    margin: auto;
    padding: 0.2%;
    text-align: center;
    padding-top: 3%;
    border-radius: 4px;
}

.pinta_botao:hover{
    background-color: #ffbc21;
}

.pinta_botao a:link, .pinta_botao:visited{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

footer > p{
    font-size: 1.2em;
    text-align: center;
    color: #FFF;
    font-family: 'Merienda One', cursive;
    

}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.escondido{
    display: none;
}

.imagem_direita{
    float: right;
    width: 20%;
    margin-left: 2%;
}

.imagem_esquerda{
    float: left;
    width: 30%;
    margin-right: 2%;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
    font-family: 'Merienda One',cursive;
}

audio{
    width: 70%;
}
  
th{
    font-size: 1.5em ;
    font-weight: bolder;
}
  
td,th{
    border: 5px inset goldenrod;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #FFF;
}

td:first-child{
    width: 40%;
}
  
td:first-child + td{
    width: 60%;
}
  
audio::-webkit-media-controls-panel{
    background-color:goldenrod !important;
}

.borda_form{
    background-color: goldenrod;
    padding: 20px;
    border-radius: 25px;
    margin-top: 1%;
    box-sizing: border-box;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Merienda One', cursive;
}
    
input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
    font-family: 'Merienda One', cursive;
}
     
    
.col-25{
    width: 25%;
    float: left;
    margin-top: 6px;
}
    
.col-75{
    width: 75%;
    float: left;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit] {
    background-color: rgb(0, 0, 0);
    color: #FFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: black;
    font-weight: bolder;
   
}
  
.botaoform{
    margin-top: 3%;
}
  
  
@media screen and (max-width:450px) {

    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
     
    }
  
   
  
    
  }